.footer-big {
  background: #5e7360;
  color: white;
  padding-top: 40px;
  padding-bottom: 30px;
  position: relative;
  z-index: 10;

  @media (max-width: 768px) {
    display: none !important;
  }

  .row {
    display: flex;
    justify-content: space-around;
  }
  .logo {
    max-width: 171px;
    margin: 0 0 10px 0px;
    text-align: center;
  }
  .icon {
    max-width: 140px;
    margin-right: 30px;
    margin-top: 10px;
  }
  .footer-logo {
    max-width: 160px;
    margin-top: 0;
  }
  p {
    font-size: 16px;
    a {
      color: $flour-color;
      cursor: pointer;
      text-decoration: none;
      display: block;
      // @include transition(all 0.2s linear);
      margin-bottom: 8px;
      font-size: 13px;
      &:hover {
        text-decoration: underline;
      }
    }
    b {
      font-family: $title-font;
    }
  }
  h4 {
    font-size: 18px;
    margin: 15px 0;
    font-family: $title-font;
    color: $flour-color;
  }
  .download {
    font-size: 16px;
    margin: 15px 0;
    font-family: $base-font;
    color: $flour-color;
  }
  // Responsive
  @media (max-width: 768px) {
    .row {
      align-items: center;
    }
    .logo {
      max-width: 6rem;
      margin: 0 auto 30px;
      text-align: center;
      display: block;
    }
    h4 {
      text-align: center;
    }
    p {
      text-align: center;
    }
    .col {
      text-align: center;
    }
    .icon {
      margin: 0 5px;
    }
    .footer-logo {
      margin: 20px auto 0;
      display: block;
    }
  }
  //End Reponsive
}
.footerBg {
  background: #f2f2f2;
  @media (max-width: 768px) {
    display: none;
  }
}

.arrangement {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
}

// ///////////////////////@at-root

nav {
  &.scrollOn {
    // @include box-shadow(0px 5px 10px rgba(0, 0, 0, 0.12));
  }
  &.navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 21;
    padding: 8px 0;
    max-height: 84px;
    &.hide-nav {
      display: none !important;
    }

    @media (min-width: 768px) {
      padding: 14px 0;
      .mobileHeader {
        display: none;
      }
    }
    > .container {
      padding-right: 50px;
      padding-left: 50px;
    }
    .navbar-brand {
      padding: 0;
      margin-right: 0px;
    }
    .nav-link {
      font-size: 22px;
      padding: 0 22px;
      color: $nav-link;
      // @include transition(all 0.3s ease);
      &:hover,
      &.active {
        color: $nav-link;
        font-family: $title-font;
      }
    }
    .nav-search-wrapper {
      display: none;
      align-items: center;
      width: 100%;
      margin: 0 8px;
      @media (min-width: 768px) {
        display: flex;
      }
      @media (min-width: 992px) {
        margin: 0 32px;
      }
    }
    .nav-menu {
      display: none;
      align-items: center;
      @media (min-width: 768px) {
        display: flex;
      }
      .logo-label {
        display: flex;
        flex-direction: row;
        align-items: center;
        div {
          font: $base-font;
          font-weight: 400;
          size: 18px;
          line-height: 24px;
          width: max-content;
        }
      }
    }
    .nav-options {
      display: none;
      align-items: center;
      font-size: 18px;
      gap: 5px;
      @media (min-width: 768px) {
        display: flex;
      }
      @media (min-width: 923px) {
        gap: 32px;
      }
    }
    .location-input {
      input,
      div {
        cursor: pointer;
      }
    }
    .profile-icon {
      margin-right: 30px;
    }
    .input-group {
      height: 50px;
      background: $gray-95;
      border-radius: 25px;
      .input-group-text {
        border: none;
        background: transparent;
        padding: 0 0 0 22px;
        width: 38px;
      }
      .form-control {
        border: none;
        height: 50px;
        background: $gray-95;
        min-width: 250px;
        padding: 4px 16px 4px 14px;
        font-size: 16px;
        overflow: hidden;
        color: $nav-link;
        text-overflow: ellipsis;

        font-family: $base-font;
        line-height: 2;
        max-width: 417px;
        width: max-content;
        white-space: nowrap;
        display: flex;
        align-items: center;
        border-radius: 40px;
        @media (max-width: 992px) {
          max-width: 320px;
        }
        &:hover {
          background: $gray-90;
        }
        .pin {
          width: auto;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          height: 20px;
          height: 20px;
          line-height: 17px;
          align-items: center;
          border-right: 1px solid #808080;
          margin-right: 5px;
          .subtitle-14 {
            color: #000;
          }
          .selected-store {
            color: $gray-40;
            padding-right: 8px;
          }
          img {
            margin-right: 10px;
            height: 17px;
            float: left;
            &.cal {
              margin-left: 5px;
            }
          }
          &:last-child {
            margin-right: 0;
            border-right: none;
            padding-left: 0;
          }
        }
      }
    }
    .signin {
      display: flex;
      align-items: center;
      color: #000;
      cursor: pointer;
      text-decoration: none;
      background: transparent;
      font-family: $title-font;
      padding: 8px;
      border-radius: 40px;
      min-width: 90px;
      height: 50px;
      width: 100px;
      @media (min-width: 992px) {
        width: max-content;
      }
      img {
        margin-right: 3px;
      }
      &:hover {
        background: $gray-95;
      }
    }
    .cart {
      position: relative;
      .card-badge {
        display: flex;
        align-items: center;
        cursor: pointer;

        padding: 13px;
        border-radius: 40px;
        isolation: isolate;
        font-family: $title-font;
        max-height: 50px;
        width: 78px;
        &.is-count {
          background: $primary-green-color;
          color: #fff;
          &:hover {
            opacity: 0.9;
          }
          .bag-icon {
            img {
              filter: brightness(0) invert(1);
            }
          }
        }
        &.not-count {
          background: $gray-95;
          color: $gray-30;
          &:hover {
            background: $gray-90;
          }
        }

        .number2 {
          position: absolute;
          min-width: 20px;
          height: 20px;
          padding: 3px;
          top: -5px;
          left: 63px;
          font-size: 12px;
          line-height: 13.22px;
          text-align: center;
          color: #fff;
          &.have-count {
            background: $russet-color;
          }
          &.no-count {
            background: $gray-40;
          }
        }
      }
    }
    .bag-icon {
      position: relative;
      margin-right: 6px;
    }
    .dropdown-item {
      padding: 0.25rem 1rem;
      font-size: 18px;
      color: $primary-font-color;
      a {
        color: $primary-font-color;
        text-decoration: none;
      }
      &:hover,
      &:active,
      &:hover a {
        color: $base-color;
        background-color: #f8f9fa;
      }
    }
    .dropdown-menu {
      border: none;
      left: inherit;
      right: 0;
    }

    .nav-search {
      display: flex;
      height: 50px;

      &:hover {
        background-color: $gray-90;
      }
      input {
        background: transparent;
        color: #666666;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        border: none;
        font-family: $base-font;
        padding: 10px 10px 10px 44px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        border-radius: 8px;
        &::placeholder {
          font-family: $base-font;
          font-size: 14px !important;
          line-height: 18px !important;
          color: $gray-40;
        }
      }
    }

    // Responsive
    @media (max-width: 768px) {
      .navbar-brand {
        margin-right: 10px;
      }
      .nav-link {
        padding: 0 8px;
        font-size: 16px;
      }
      .nav-options {
        .location-input {
          position: absolute;
          left: 0;
          bottom: 10px;
          width: calc(100% - 20px);
          margin: 0 10px;
        }
      }
      .input-group {
        padding-right: 0;
        .form-control {
          min-width: auto;
          max-width: 90%;
          overflow: hidden;
          white-space: nowrap;
        }
        .input-group-text {
          padding: 0 0 0 15px;
          width: 32px;
        }
      }
      .hide-mob {
        display: none;
      }
      .cart {
        margin-left: 15px;
      }
      .signin {
        span {
          display: none;
        }
      }
    }
    // End Responsive
  }
}

.container-max-nav {
  display: flex;
  justify-content: space-between;
}
.container-ck-content {
  padding: 0px 50px;
}
